<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--
    运行
    mvn mybatis-generator:generate
    -->
    <properties resource="jdbc.properties"/>
    <!--

        1，conditional：类似hierarchical 默认
        2，flat：所有内容（主键，blob）等全部生成在一个对象中；
        3，hierarchical：主键生成一个XXKey对象(key class)，Blob等单独生成一个对象，其他简单属性在一个对象中(record class)
    targetRuntime:
        1，MyBatis3：默认的值，生成基于MyBatis3.x以上版本的内容，包括XXXBySample；
        2，MyBatis3Simple：类似MyBatis3，只是不生成XXXBySample；
    introspectedColumnImpl：类全限定名，用于扩展MBG
-->
    <context id="generatorTables" defaultModelType="flat" targetRuntime="MyBatis3Simple">

        <!--避免中文乱码-->
        <property name="javaFileEncoding" value="UTF-8"/>

        <plugin type="tk.mybatis.mapper.generator.MapperPlugin">
            <property name="mappers" value="com.enreach.ssm.infrastructure.IMapper"/>
            <property name="caseSensitive" value="true"/>
            <property name="forceAnnotation" value="true"/>
            <property name="beginningDelimiter" value="`"/>
            <property name="endingDelimiter" value="`"/>
        </plugin>

        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <!--region 核心设定-->

        <commentGenerator>
            <property name="suppressDate" value="false"/>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!-- 数据库连接配置 -->
        <jdbcConnection driverClass="${jdbc.driver}"
                        connectionURL="${jdbc.url}"
                        userId="${jdbc.username}"
                        password="${jdbc.password}">

            <!--设置可以获取tables remarks信息-->
            <property name="useInformationSchema" value="true"/>
            <!--设置可以获取remarks信息-->
            <property name="remarks" value="true"/>

        </jdbcConnection>

        <!-- java类型调整，此处并不强制使用BigDecimal -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- MyBatis 生成器只需要生成 Model -->
        <javaModelGenerator targetPackage="com.enreach.ssm.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!--从新运行会覆盖mampper，运行一次后建议注释-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.enreach.ssm.dao" targetProject="src/main/java">
        </javaClientGenerator>

        <!--endregion -->

        <!--region 表的配置 -->
        <!--<table schema="my-blog" tableName="t_article">-->
        <!--<property name="useActualColumnNames" value="true"/>-->
        <!--<generatedKey column="articleId" sqlStatement="JDBC" identity="true"/>-->
        <!--<domainObjectRenamingRule searchString="^T" replaceString=""/>-->
        <!--</table>-->

        <table schema="my-blog" tableName="t_tag" domainObjectName="Tag">
            <property name="useActualColumnNames" value="true"/>
        </table>

        <table schema="my-blog" tableName="t_article_tag" domainObjectName="ArticleTag">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="id" sqlStatement="JDBC" identity="true"/>
        </table>
        <!--endregion-->

    </context>


</generatorConfiguration>