<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enreach.ssm.dao.ArticleTagMapper">
  <resultMap id="BaseResultMap" type="com.enreach.ssm.entity.ArticleTag">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="articleId" jdbcType="INTEGER" property="articleId" />
    <id column="tagId" jdbcType="INTEGER" property="tagId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="isDelete" jdbcType="BIT" property="isDelete" />
  </resultMap>
</mapper>